<h1>Sign In</h1>

<form action="<%= session_url %>" method="POST" accept-charset="utf-8">
	<input type="hidden" name="authenticity_token"
		value="<%= form_authenticity_token %>" id="authenticity_token">

	<label for="user_username">Username:</label>
	<input type="text" name="user[username]" id="user_username">
	<br>
	<label for="user_password">Password:</label>
	<input type="password" name="user[password]" id="user_password">

	<p><input type="submit" value="Sign In"></p>
</form>
