<h1>New Goal</h1>

<form action="<%= goals_url %>" method="post" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="goal_title">Title:</label>
  <input type="text" name="goal[title]" value="@goal.title" id="goal_title">
  <br>
  <input type="radio" name="goal[:private]" id="goal_private_false" value="false">
  <label for="goal_private_false">Public</label>
  <input type="radio" name="goal[:private]" id="goal_private_true" value="true">
  <label for="goal_private_true">Private</label>


  <p><input type="submit" value="Create Goal"></p>
</form>