<!DOCTYPE html>
<html>
<head>
  <title>CheerMeOn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if logged_in? %>
  Hello <%= current_user.username%>
  <%= button_to "Log Out", session_url, method: :delete %>
  <% else %>
  <%= link_to "Sign In", new_session_url, method: :get %>
  <%= link_to "Sign Up", new_user_url, method: :get %>

  <% end %>


  <% if !flash[:errors].nil? %>
  <ul>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>

<%= yield %>

</body>
</html>
